.project {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .project-summary {
    flex: 1;
  }
  
  .project-image {
    flex: 0 0 auto;
    order: 2; /* This changes the order of appearance */
    margin-left: 20px;
  }
  
  .project-image img {
    max-width: 150px; /* Adjust the size as needed */
    height: auto;
  }
  
  
  
  
  
  
  